<div class="container">
    <div class="columns is-centered">
        <div class="box column is-one-third">
            <h1 class="title has-text-centered">Typing challenge</h1>
            <div class="flex">
                <span *ngFor="let char of randomSentence.split(''); let i = index" [ngClass]="getCharacterClass(char, i)" class="has-text-centered">{{ char }}</span>
            </div>

            <div class="field">
                <input (input)="onInputChange($event)" class="input" type="text" name="text" />
                <p>{{inputText}}</p> 
            </div>
            <h2 [hidden]="inputText !== randomSentence" class="title has-text-centered">Success</h2>
        </div>
    </div>
</div>